* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans';
}

:root {
  --color-primary: #1992d4;
  --color-secondary: #f0b429;
  --color-background-gray: #e2e8f0;
  --color-background-white: #ffffff;
  --color-text-white: #ffffff;
  --color-text-gray: #6f6f6f;
  --shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: 2fr 10fr / 2fr 10fr;
  grid-template-areas:
    'nav header'
    'nav main';
}

nav {
  grid-area: nav;
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

header {
  grid-area: header;
  background-color: var(--color-background-white);
}

main {
  grid-area: main;
  background-color: var(--color-background-gray);
}

/* 左侧导航栏 */

nav {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  margin: 20px 0;
}

.logo .material-symbols-outlined {
  font-size: 50px;
}

nav ul {
  list-style-type: none;
  margin: 10px 0;
}

nav ul li {
  padding: 10px 30px;
  margin: 6px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 16px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

/* 顶部 */

header {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  box-shadow: var(--shadow);
  z-index: 99;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: 20px;
}

header .top div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

header .top input {
  border: none;
  background-color: var(--color-background-gray);
  border-radius: 16px;
  height: 30px;
  width: 500px;
  padding: 0 10px;
  outline: none;
}

header .top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .top span:nth-of-type(2) {
  font-weight: 700;
}

header .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

header .bottom .left {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
}

header .bottom .left p:nth-of-type(2) {
  font-size: 1.5rem;
}

header .bottom img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

header .bottom .right {
  display: flex;
  gap: 20px;
}

header .bottom .right button {
  border-radius: 16px;
  padding: 8px 24px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  font-weight: 700;
}

/* 主要区域 */

main {
  padding: 20px 100px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

main h2 {
  margin-bottom: 10px;
}

main ul {
  list-style-type: none;
}

main .projects ul {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 20px;
}

main .projects .card {
  background-color: var(--color-background-white);
  border-left: 8px solid var(--color-secondary);
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--shadow);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main .projects .card .title {
  font-size: 1.2rem;
  font-weight: 700;
}

main .projects .card p:nth-of-type(2) {
  flex: 1;
  color: var(--color-text-gray);
}

main .projects .card .actions {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-top: 30px;
}

aside {
  display: flex;
  flex-direction: column;
}

aside .announcements {
  font-size: 0.8rem;
  margin-bottom: 40px;
}

aside .announcements li {
  margin: 10px 0;
}

aside .announcements p {
  color: var(--color-text-gray);
}

aside .card {
  background-color: var(--color-background-white);
  border-radius: 8px;
  padding: 20px;
  box-shadow: var(--shadow);
}

aside .trending .user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

aside .trending .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

aside .trending .user p:nth-of-type(2) {
  color: var(--color-text-gray);
}
