* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: 'norse';
  src: url('./Norse-Bold.otf');
}

:root {
  --button-color: #38693c;
  --input-border-color: #e5e7eb;
  --input-border-color-focus: #39656c;
  --input-border-color-error: #ba1a1a;
}

.container {
  display: flex;
}

/* left */

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background-image: url(./background.jpg);
  background-size: cover;
  height: 100vh;
}

.left .title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.left .title img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.left .title h1 {
  color: white;
  font-size: 60px;
  font-family: 'norse';
}

.left .img-author {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.left .img-author a {
  color: white;
}

/* right */

.right {
  flex: 2;
}
