* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  padding: 20px 100px;
  background-color: #333333;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  display: block;
  padding: 10px 20px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #f39c12;
}

#content {
  width: 100%;
  padding: 50px 100px;
  flex: 1;
}

/* 主页CSS */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#ffcc99, #ff9966);
}

.home h1,
.home img {
  margin: 20px 0;
}

.home img {
  border-radius: 16px;
}
