* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  padding: 20px 100px;
  background-color: #333333;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  display: block;
  padding: 10px 20px;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #f39c12;
}

#content {
  width: 100%;
  padding: 50px 100px;
  flex: 1;
  background: linear-gradient(#ffcc99, #ff9966);
}

/* 主页CSS */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1,
.home img {
  margin: 20px 0;
}

.home img {
  border-radius: 16px;
}

/* 菜单CSS */
.menu h1 {
  text-align: center;
  margin-bottom: 50px;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.dish-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4500;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
}

.dish-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.dish-card h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
