* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

ul {
  list-style-type: none;
}

/* 背景图形 */

.header-background-shape {
  position: absolute;
  top: -10rem;
  z-index: -1;
  height: 40rem;
  width: 100%;
  background-color: #fceae2;
  transform: skewY(-15deg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* 顶部 */

header {
  padding: 2rem;
}

header .card {
  height: 40rem;
  background-image: url(./assets/header-mobile.jpg);
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

header .card h1 {
  padding: 1rem;
  color: #ffffff;
  font-size: 5rem;
}

section.about {
  margin: 2rem 0;
}

section.about h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

section.about p {
  margin: 1rem 0;
}

section.about ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

section.about ul span {
  font-size: 2rem;
}

/* 图库 */

main {
  padding: 2rem;
}

main h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
}

main .card img {
  width: 100%;
  object-fit: cover;
}

main .card .info {
  padding: 2rem;
}

main .card .info .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* 底部 */
footer {
  padding: 2rem;
  background-color: #fceae2;
}

footer h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.footer-img {
  object-fit: cover;
  width: 100%;
}

/* 平板 */
@media screen and (min-width: 768px) {
  header .card {
    height: 30rem;
    background-image: url(./assets/header.jpg);
  }

  main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  main .card {
    height: 100%;
  }

  main .card img {
    height: 12rem;
  }
}

/* 桌面 */
@media screen and (min-width: 1024px) {
  header {
    display: flex;
    margin-bottom: 4rem;
  }

  header .card {
    background-image: url(./assets/header.jpg);
    flex: 2;
  }

  section.about {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #ffffff;
  }

  section.about h2 {
    text-align: left;
  }

  section.about p {
    flex: 1;
  }

  section.about ul {
    justify-content: end;
    gap: 1rem;
  }

  main ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main .card img {
    height: 26rem;
  }
}
