* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-background-shape {
  position: absolute;
  top: -10rem;
  z-index: -1;
  height: 40rem;
  width: 100%;
  background-color: #fceae2;
  transform: skewY(-15deg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
