* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-aside-background: #f4eddf;
  --color-main-background: #fff9ee;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

aside {
  flex: 1;
  background-color: var(--color-aside-background);
}

main {
  flex: 5;
  background-color: var(--color-main-background);
}
