* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-text-black);
}

:root {
  --color-aside-background: #f4eddf;
  --color-main-background: #fff9ee;
  --color-text-black: #1e1b13;
  --color-primary: #f8e287;
  --color-on-primary: #534600;
  --color-book-card-background: #f4eddf;
  --color-read: #43664e;
  --color-unread: #ba1a1a;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* 侧边栏 */

aside {
  flex: 1;
  background-color: var(--color-aside-background);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

aside h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
}

aside form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

aside label {
  margin-bottom: 10px;
}

aside input[type='text'] {
  height: 30px;
  border: none;
  outline: none;
  border-radius: 16px;
  background-color: var(--color-main-background);
  font-size: 1.2rem;
  padding: 0 10px;
}

aside input[type='checkbox'] {
  height: 30px;
}

aside button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 16px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  font-size: 1.2rem;
}

/* 主要区域 */

main {
  flex: 5;
  background-color: var(--color-main-background);
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: start;
}

.book-card {
  background-color: var(--color-book-card-background);
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.strip-read {
  border-top: 8px solid var(--color-read);
}

.strip-unread {
  border-top: 8px solid var(--color-unread);
}

.book-card .info h1,
.book-card .info p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: end;
}

.book-card .buttons button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 16px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
