* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 2rem 10rem;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.menu a {
  text-decoration: none;
  color: #e5e7eb;
}

header {
  padding: 8rem 10rem;
  display: flex;
  gap: 8rem;
  background-color: #1f2937;
}

header .left,
header .right {
  flex: 1;
}

header .left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

header .left p {
  font-size: 18px;
  color: #e5e7eb;
}

header .right {
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

header .right p {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

main {
  padding: 2rem 10rem;
}

main h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 2rem;
}

.info-row {
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .rounded-square {
  border: 4px solid #3882f6;
  border-radius: 16px;
  width: 200px;
  height: 200px;
}

.info p {
  width: 200px;
  margin-top: 1rem;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  padding: 8rem 10rem;
}

.quote .content,
.quote .author {
  padding: 0 10rem;
}

.quote .content {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.quote .author {
  font-weight: 600;
  font-size: 30px;
  text-align: right;
}

.call-to-action {
  padding: 8rem 10rem;
}

.call-to-action .box {
  display: flex;
  margin: 0 10rem;
  padding: 3rem 10rem;
  border-radius: 16px;
  background-color: #3882f6;
  color: #f9faf8;
  justify-content: space-between;
}

.call-to-action p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
}

.call-to-action p:nth-child(2) {
  color: #e5e7eb;
}

.call-to-action button {
  border: 1px solid #f9faf8;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 2rem 10rem;
  text-align: center;
}
